/* src/app/globals.css (ATUALIZADO PARA LAYOUT DE TELA ÚNICA) */
:root {
  --primary-accent: #b7ee23;
  --dark-bg: #161616;
  --light-text: #e0e0e0;
  --dark-text: #161616;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ✨ MUDANÇAS PRINCIPAIS PARA O LAYOUT ✨ */
html, body {
  height: 100%; /* Garante que o body possa ocupar 100% da altura */
  max-width: 100vw;
  overflow: hidden; /* Desabilita a rolagem */
}

body {
  background-color: var(--dark-bg);
  color: var(--light-text);
  
  display: flex;
  flex-direction: column; /* Organiza header, main e footer em coluna */
}

main {
  flex-grow: 1; /* Faz o conteúdo principal crescer e ocupar o espaço restante */
  display: flex; /* Permite que o container da roleta se centralize */
  flex-direction: column;
}
/* FIM DAS MUDANÇAS */

a {
  color: inherit;
  text-decoration: none;
}